@charset "utf-8";

/* 내용관리 */
#ctt {width: 1000px;margin: 0 auto;padding: 0;background:#fff}
.ctt_admin { position: absolute; top: 0; right: 0; }
#ctt header h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ctt_con { font-size: 1em; line-height: 1.8em; padding: 0; }
#ctt_con a { display: inline-block; color: #00aced; }
#ctt_con img{max-width:100%;height:auto}
.ctt_img {text-align:center}

